h1 {
    text-align: center;
}

#main p {
    text-align: center;
}

body {
    background-color: rgb(221, 221, 221);
}

#img-div {
    background-color: white;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-caption {
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 20px;
    text-align: center;
}

#tribute-info ul {
    width: 60%;
    margin: 0 auto;
}

#tribute-info li {
    padding: 10px;
}

#tribute-info p {
    padding-top: 30px;
    color:rgb(88, 88, 88);
    font-style: italic;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

footer a {
    color:rgb(46, 115, 114);
}